name: Docker Image CI

on:
  push:
    branches:
      - main
      - develop
      - release
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build e Push da Imagem Docker
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Define TAG e Registry
        id: meta
        run: |
          BRANCH_NAME="${{ github.ref_name }}"
          COMMIT_SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-8)
          
          if [ "$BRANCH_NAME" == "main" ]; then
            TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "latest")
          else
            TAG="develop-$COMMIT_SHORT_SHA"
          fi
          
          echo "TAG=$TAG" >> $GITHUB_OUTPUT
          
          echo "REGISTRY=ghcr.io" >> $GITHUB_OUTPUT
          echo "REPO_FULL=ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}" >> $GITHUB_OUTPUT

      - name: Visualizar Metadados
        run: |
          echo "Tag final: ${{ steps.meta.outputs.TAG }}"
          echo "Repositório: ${{ steps.meta.outputs.REPO_FULL }}"
      - name: Login no Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ steps.meta.outputs.REGISTRY }}
          username: ${{ github.actor }} 
          password: ${{ secrets.GIT_TOKEN }}
      - name: Build e Push da Imagem Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.REPO_FULL }}:${{ steps.meta.outputs.TAG }}
